.header {
font-family: verdana;
font-size: 14px;
font-weight: bold;
display: flex;
align-items: center;
padding-top: auto;
margin-top: -10px;
margin-left: -10px;
border-bottom: solid black 1px;
justify-content: space-between;
width: 100%;
height: 80px;
position: fixed;
z-index: 5;
background-color: white;}

.logo {
  display: inline-flex;
  color: MediumAquamarine;
}

.header span {
  padding-top: 30px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  margin: 50px 32px;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.containers {
  display: flex;
  width: 1232px;
  padding-top: 90px;
  position: relative;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.lead-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 630px;
  height: 300px;
  text-align: left;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.earth-spins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.research-shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.story {
  font-family: Georgia;
  font-size: 17px;
  margin: 20px auto;
}

.cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 300px;
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.cookie {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
  width: 300px;
  height: 300px;
  margin: 17px 20px 10px 20px;
}

.news-bites {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.bite {
  background-color: WhiteSmoke;
  border-bottom: solid black 1px;
  padding: 10px;
  width: 240px;
}

.credits {
  display: flex;
}

.footer {
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  font-family: verdana;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.final-logo {
 display: inline-block;
 padding-right: 25px;
 margin-right: 15px;
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 border-right: solid white 2px;
 height: 20px;
 margin-top: 20px;
}

.credits {
  display: inline-flex;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  width: 70px;
  height: 60px;
  margin-right: 12px;
  margin-top: 10px;
  margin-left: 20px;
}

nav {
  text-align: right;
  display: flex;
  padding-right: 40px;
}

nav li {
  text-align: right;
  display: inline-block;
  padding: 20px 10px;
}

h2 {
  display: block;
  font-size: 30px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px auto;

}
